.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4rem 2rem;
    background-color: var(--color-bg-main);
    color: var(--color-text-dark);
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    background-color: var(--color-bg-secondary);
    padding: 2rem;
    box-shadow: 0 2px rgba(0, 0, 0, 0.08);
    transition: background-color 0.3s ease;
}

.about-section:hover {
    background-color: var(--color-bg-darker);
}

.image {
    max-width: 400px;
}

.about-cat {
    border-radius: 12px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.text {
    max-width: 500px;
    text-align: left;
    color: var(--color-text-dark);
}

.about-dog {
    border-radius: 12px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.about-container h1 {
    font-size: 2.5rem;
    color: var(--color-text-dark);
    margin-bottom: 1rem;

}

.about-container p {
    max-width: 600px;
    color: var(--color-text-dark);
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

@media (max-width: 768) {
    .section {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .cat-section .text {
        text-align: center;
    }
}