footer {
    width: 100%;
    position: relative;
    background-color: var(--color-bg-darker);
    text-align: center;
    padding: 1rem 0;
    margin-top: auto;
    font-size: 0, 9rem;
    letter-spacing: 0.5px;
}

footer p {
    margin: 0;
    color: var(--color-text-dark);
}